<div class="intro blue lighten-1 z-depth-1" style="height:16px !important;">
  <h1 class="grey-text text-lighten-5 title-discuss" style="margin-top:-60px !important;"> ISSUES </h1>
  


 <!-- Dropdown Trigger -->
  <a class='dropdown-button btn'  data-activates='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!"> PASS PROPOSED BANGSAMORO BASIC LAW?</a></li>
    <li><a href="#!">PUSH FOR CHARTER CHANGE?</a></li>
    <li class="divider"> PROMOTE EQUAL RIGHTS FOR LGBTS?</li>
    <li><a href="#!">CONTINUE CONDITIONAL CASH TRANSFER PROGRAM?</a></li>
  </ul>
        