<div class="intro blue lighten-1 z-depth-1" style="height:16px !important;">
  <h1 class="grey-text text-lighten-5 title-discuss" style="margin-top:-60px !important;"> QUIZ </h1>
  <h5 class="grey-text text-lighten-5"> in this quiz, all you have to say is that if you're agree or dissagree with the given statement below </h5>
</div>

<div class="container">
<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 1. PASS FREEDOM OF INFORMATION BILL?  </p>
    </div>

    <div class="col m4">
    <form action="">
    <p class="valign-wrapper">
      <input name="group1" type="radio" id="test1"/>
      <label for="test1">Red</label>
    </p>
    <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Yellow</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Green</label>
    </p>
      <p>
        <input name="group1" type="radio" id="test4" disabled="disabled" />
        <label for="test4">Brown</label>
    </p>
  </form>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 2. PASS ANTI-POLITICAL DYNASTY BILL?  </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 3. LOWER PERSONAL INCOME TAX?  </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>


<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 4. PASS PROPOSED BANGSAMORO BASIC LAW? </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>


<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 5. FIGHT FOR RIGHTS OVER WEST PHILIPPINE SEA? </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 6. PUSH FOR CHARTER CHANGE?  </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p> 7. PROMOTE EQUAL RIGHTS FOR LGBTS?  </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>8. CONTINUE CONDITIONAL CASH TRANSFER PROGRAM?  </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>9. SUPPORT JOB CONTRACTUALIZATION? </p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>10. PUSH FOR THE PASSAGE OF A DIVORCE BILL?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>



<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>11. BURY FERDINAND MARCOS' REMAINS AT THE LIBINGAN NG MGA BAYANI?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>14. SUPPORT LABOR EXPORT/OFW DEPLOYMENT?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>15. CONTINUE PROSECUTION OF PORK BARREL-RELATED CASES?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>16. PUSH FOR SAME-SEX MARRIAGE?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>11. BURY FERDINAND MARCOS' REMAINS AT THE LIBINGAN NG MGA BAYANI?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>17. CONTINUE K-12 PROGRAM?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>



<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>18. CONTINUE THE COMPREHENSIVE AGRARIAN REFORM PROGRAM?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>





<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>19. CONTINUE PEACE TALKS WITH THE REDS?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>





<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>20. GRANT BAIL TO EX-PRESIDENT GLORIA ARROYO?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>



<div class="row">
<div class="col m12">

    <div class="col m8">
    <p>21. GO AFTER THOSE BEHIND DAP?</p>
    </div>

    <div class="col m4">
      <div class="switch">
    <label>
      DISSAGREE
      <input type="checkbox">
      <span class="lever"></span>
     AGREE
    </label>
  </div>

    </div>

</div>
</div>

</div>










