<img src="{{presimg}}" style="width:100%">
<div class="row">
  <div class="col s12 m6">
     <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="issue in presissue">
        <div class="collapsible-header"> {{issue.issue}}<a class="secondary-content"><b>{{issue.summary}}</b></a></div>
        <div class="collapsible-body"><p>{{issue.quote}}<br><a href="{{issue.source}}">{{issue.source}}</a></p></div>
      </li>
    </ul>
  </div>

  <div class="col s12 m6">
	  <ul class="collection">
	    <li class="collection-item avatar" ng-repeat="tweet in prestweet">
	      <img src="{{tweet.tweet_img}}" alt="" class="circle">
	      <span class="title" style="font-weight:bolder;">{{tweet.tweet_user}}</span> @{{tweet.tweet_screen}}
	      <p>{{tweet.tweet_text}}
	      </p>
	      <a class="secondary-content" ng-click="rt(tweet.tweet_idstr)"><i class="mf mf-2x mf-retweet" aria-hidden="true"></i></a>
	    </li>
	  </ul>
  </div>
</div>



  <ul class="collection with-header">
  <li class="collection-header"> <h4> Feeds </h4> </li>
    <li class="collection-item avatar" ng-repeat="message in messages">
      <img src="img/duterte.jpg" alt="" class="circle">
      <span class="title" style="font-weight:bold;">{{message.name}}</span>
      <p>{{message.status}}</p>
      </li>
      <li class="collection-item" style="padding:5">
      	<input placeholder="comment" id="first_name2" type="text" class="validate" ng-enter="sendComment()" ng-model="txt"><a class="btn-floating btn-large waves-effect waves-light hide-on-med-and-down red" style="margin-left:5px"><i class="material-icons">add</i></a>
      </li>
  </ul>







<footer class="page-footer blue darken-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" ng-click="gotoElement('middle')">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     IBOTO 2016 Copyright 
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


